section.hero
	.carousel
		img.img-responsive(src='/images/hero-django.jpg', alt='')
		img.img-responsive(src='/images/hero-vizio.jpg', alt='')
		img.img-responsive(src='/images/hero-escape.jpg', alt='')
		img.img-responsive(src='/images/hero-ultra.jpg', alt='')