section.featured-work
	.container
		.article-layout
			header
				h2 Featured Work
					a(href='#') View All Work
			article
				a(href='#')
					img(src='/images/featured-boost-mobile.jpg', alt='')
					h2 Boost Mobile
						span  Rebrand
					p Boost Mobile recognized the need to elevate and refresh its brand to speak to a broader audience. The result was an evolved logo, ...
					span.cta View Project
			article
				a(href='#')
					img(src='/images/featured-pear-sports.jpg', alt='')
					h2 Pear Sports
						span  Training Portal
					p Pear Sports revolutionary training systems and fitness apps were getting lost in a crowded marketplace. Envoy rebuilt the story and ...
					span.cta View Project
			article
				a(href='#')
					img(src='/images/featured-5.11.jpg', alt='')
					h2 5.11
						span  Ultimate Training Experience
					p 5.11, the industry leader in tactical gear turned to Envoy to bring their “Ultimate Training Challenge” to life in the digital space ...
					span.cta View Project