section.news
	.container
		.article-layout
			header
				h2 Wire
					a(href='#') View All News
			article
				a(href='#')
					h2 The Weinstein Co Lets Envoy Loose on Sin City 2
					time(datetime='2013-05-01') May 1, 2013
					span.cta Read More
			article
				a(href='#')
					h2 5.11 Taps Envoy as New Digital Agency
					time(datetime='2013-05-01') May 1, 2013
					span.cta Read More
			article
				a(href='#')
					h2 Pear Breaks Ground on Ground Breaking App
					time(datetime='2013-05-01') May 1, 2013
					span.cta Read More