//- Custom Configuration
block config
	- var baseUrl = config.baseUrl || './'
	- var title = 'ENVOY'
	- var description = 'A hybrid agency based in Orange County, California'

doctype html
<html class='no-js' lang='en'>
head

	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	title #{title}
	meta(name='description', content='#{description}')
	link(rel='shortcut icon', href='/favicon.png')

	block stylesheets
		link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.css')
		link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick-theme.min.css')
		link(rel='stylesheet', href= baseUrl + 'styles/main.css')

body

	block header
		include _templates/nav.pug

	block content

	block footer
		footer

	block scripts
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.js')
		script.
			$('.carousel').slick({
				autoplay: true,
				dots: true,
			});
		//- script(src= baseUrl + 'scripts/main.js')

</html>
