header
	.header-inner
		.container
			.header-logo
				svg.header__logo-svg.__web-inspector-hide-shortcut__(width='90px', height='27px', viewbox='0 0 90 27', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
					defs
						polygon#envoy-logo-path-1(points='16.4473 0.613 0.9933 0.613 0.9933 26.9994 16.4473 26.9994 16.4473 0.613')
					g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
						g(transform='translate(0.000000, -1.000000)')
							polygon.header-logo-letter(points='84.5997 1.0004 81.9897 8.3624 79.3097 1.0004 74.0047 1.0004 79.5267 16.1634 79.5267 27.3874 84.5187 27.3874 84.5187 16.1524 89.8887 1.0004')
							polygon.header-logo-letter.header-logo-letter--e(points='0 1.0139 0 27.3879 13.674 27.3879 13.674 22.4559 4.991 22.4559 4.991 16.6669 10.96 16.6669 10.96 11.7349 4.991 11.7349 4.991 5.9459 13.674 5.9459 13.674 1.0139')
							polygon.header-logo-letter(points='28.7721 1.013 28.7721 14.13 23.4731 1.013 18.4631 1.013 18.4631 27.387 23.4561 27.387 23.4561 14.272 28.7541 27.387 33.7641 27.387 33.7641 1.013')
							g(transform='translate(37.000000, 0.387500)')
								path#Fill-4.header-logo-letter(d='M26.9531,26.9996 C22.7341,26.9996 19.3031,23.6086 19.3031,19.4406 L19.3031,8.1846 C19.3031,4.0166 22.7341,0.6256 26.9531,0.6256 C31.1711,0.6256 34.6031,4.0166 34.6031,8.1846 L34.6031,19.4406 C34.6031,23.6086 31.1711,26.9996 26.9531,26.9996 M26.9531,5.5586 C25.4871,5.5586 24.2941,6.7356 24.2941,8.1846 L24.2941,19.4406 C24.2941,20.8906 25.4871,22.0676 26.9531,22.0676 C28.4191,22.0676 29.6111,20.8906 29.6111,19.4406 L29.6111,8.1846 C29.6111,6.7356 28.4191,5.5586 26.9531,5.5586')
								g#envoy-logo-Group-8
									polygon.header-logo-letter(mask='url(#envoy-logo-mask-2)', points='11.3633 0.6124 8.7193 14.1384 6.0773 0.6124 0.9933 0.6124 6.1373 26.9994 11.3033 26.9994 16.4473 0.6124')
			nav
				label.show-menu(for='show-menu') Menu
				input#show-menu(type='checkbox', role='button')
				ul#menu
					li
						a(href='#') Work
					li
						a(href='#') Services
					li
						a(href='#') Ventures
					li
						a(href='#') About
					li.active
						a(href='#') Contact
					li
						a(href='#') Blog
			a(href='#')
				img.tweet(src='/images/tweet.png', alt='')