extends _layouts/base

block content
	main
		include _layouts/_templates/_modules/carousel.pug
		include _layouts/_templates/_modules/tagline.pug
		include _layouts/_templates/_modules/featured-work.pug
		include _layouts/_templates/_modules/news.pug
